.hidden {
  display: none;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

/*reset*/

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/*common*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* .section {
  padding: 120px 0;
} */

/* header */

.body-header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

.header-address,
.contacts {
  display: none;
}

.logo-header-nav-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.logo-header-nav-logo .nav-logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .logo-header-nav-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-link.current {
    position: relative;
  }

  .nav-list-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-address {
    font-style: normal;
    display: block;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-adress-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-link:hover,
  .nav-list-link:focus,
  .header-adress-link:hover,
  .header-adress-link:focus,
  .nav-list-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo-header-nav-logo {
    margin-right: 76px;
  }

  .header-address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .header-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*hero section*/

.hero-section {
  /* position: relative; */
  background: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/goit-markup-hw-04/images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}

.title-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px;
  max-width: 216px;
}

.button-hero-section {
  display: block;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .button-hero-section:hover,
  .button-hero-section:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    /* position: relative; */

    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }

  .title-hero {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  /* .container {
    max-width: 1158px;
    padding: 0 15px;
  } */

  .hero-section {
    /* position: relative; */
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .title-hero {
    margin-bottom: 48px;
  }
}
