body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

/*reset*/

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*common*/

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

/*header*/

.body-header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo-header-nav-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}

.logo-header-nav-logo .nav-logo-part {
  color: #2e2f42;
}

.nav-list-link {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link.current {
  position: relative;
}

.nav-list-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-adress-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus,
.header-adress-link:hover,
.header-adress-link:focus,
.nav-list-link.current {
  color: #404bbf;
}

/*hero section*/

.hero-section {
  position: relative;
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/goit-markup-hw-04/images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.container-hero {
}

.title-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 48px;
  max-width: 496px;
}

.button-hero-section {
  display: block;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.button-hero-section:hover,
.button-hero-section:focus {
  background-color: #404bbf;
  }

/*features*/

.features-section {
}

.features-div-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  max-width: 264px;
  height: 112px;
  margin-bottom: 8px
}

.features-icon {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  max-width: 1128px;
  gap: 24px;
}

.features-item {
  background: #fff;
  width: calc((100% - 3 * 24px) / 4);
}

.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-item-desription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*team*/

.team-section {
  background-color: #f4f4fd;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-image {
  display: block;
    }

.team-div-titdes {
    padding: 32px 0;
}


.team-list {
  display: flex;
  max-width: 1158px;
  gap: 24px;
}

.team-list-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.team-social-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
    justify-content: center;
  
  
}

.team-social-list-item {
  /* width: calc((100% - 3 * 24px) / 4); */

  width: 40px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill:#f4f4fd;
  stroke: white;
}

/*portfolio*/

.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.portfolio-div-image {
 position: relative;
  overflow: hidden;
}
  
.portfolio-div-image:hover {
  transform: translateY(0);}


  .portfolio-div-titdes {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-image {
  display: block;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-overlay {
  position: absolute;
  background-color: #4d5ae5;
  width: 100%;
  height: 300px;
  font-size: 16px
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
color: #f4f4fd;
/* padding-top: 40px;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 164px */
padding: 40px 32px;
  left: 0;  
left: 0;
  top: 0;
overflow: hidden;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0);
 }

 .portfolio-list-item:hover {
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



/* #region footer */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
  }

.footer-container {
  display: flex;
 align-items: baseline;
 
}

.footer-div-logo {
   margin-right: 120px;
  }

.footer-div-social {
  max-width: 208px;
    }

.logo-footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}


.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.logo-footer-logo .logo-footer-part {
  color: #f4f4fd;
}

.footer-description {
   font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
   }

.footer-social-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:  #fff;
  left:0;
  margin-bottom: 16px;
}

.footer-social-list {
  margin-left: 0;
  gap: 16px;
}

.footer-div-email {
    bottom: 0;
  margin-left: auto;
  margin-bottom: 132;
}

.footer-form-email {
  display: flex;
  gap: 24px;
}

footer-subscribe-description {
  }

.txt-field {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
color:#fff;
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer-subsribe {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border-radius: 4px;
}

.footer-subscribe {
  fill:#fff;
  margin-left: 16px;
}

/* #endregion footer */

/* #region popup */
.backdrop {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
justify-content: center;
align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  user-select: none;
   visibility: visible;
   pointer-events: auto; 
} 

.popup-review {
  position: absolute;
  overflow: auto;
  top: 50%;
  left: 50%; 
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background-color: #fcfcfc;
border-radius: 4px;
width: 408px;
min-height: 584px;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .popup-review {
  transform: translate(-50%, -50%) scale(1.5);
}

.form-field-wrapper {
  margin-bottom: 8px;
}

.popup-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.close-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
   border:1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
    right: 24px;
    width: 24px;
  height: 24px;
   border-radius: 50%;
   padding: 0;
    background-color: #E7E9FC;
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-popup:hover,
.close-popup:focus {
  background-color: #404bbf;
  border: none;
}



.close-popup-icon {
  display: block;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.close-popup:hover .close-popup-icon,
.close-popup:focus .close-popup-icon{
 fill: #ffffff;
}

.label-field {
  display: block;
  font-weight: 400;
  font-size:  12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}

.field-wrapper {
position: relative;
}

.text-field {border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 40px;
color: #111;
background-color: transparent;
outline: transparent; 
padding-left: 38px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus {
  border-color: #4D5AE5;
  outline: none;

  }

  .field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: ##2e2f42;
    stroke: #111;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .text-field:focus+.field-icon {
stroke:none;
fill:#4D5AE5;
      }

.form-field-comment {
  margin-bottom: 16px;
}


      .comment-textarea {
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
padding: 8px 16px;
resize: none;
outline: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}

.comment-textarea:focus {
  border-color: #4D5AE5;
 }

 .comment-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
 }


.policy-label {
  font-weight: 400;
  font-size:  12px;
  line-height: 1.17;
 letter-spacing: 0.04em;
text-align: center;
color: #8e8f99;
}

.form-field-checkbox {
  margin-bottom: 24px;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
    width: 16px;
  height: 16px;
  border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);  
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked+.policy-label>.custom-checkbox {
background-color: #404bbf;
fill: #F4F4FD;
border: none;
}

.privacy-policy {
  font-weight: 400;
  font-size:  12px;
  line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.button-submit-popup {
display: block;
margin: 0 auto;
  border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
cursor: pointer;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: #4d5ae5;
color: #fff;
font-weight: 500;
line-height: 1.5;
 letter-spacing: 0.04em;
 color: #ffffff;
 cursor: pointer;
 border: none;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit-popup:hover,
.button-submit-popup:focus {
background-color: #404bbf;
}
/* #endregion popup */